.calwin{
  padding-top: 5%;
  padding-bottom: 10%;
  padding-right: 0%;
  padding-left: 0%;
  background-color: gainsboro;
  border-radius: 20px;
  width: 35%;
}
.inputbox{
  width: 80%;
  height: 50px;
  background-color: rgba(158, 138, 138, 0.178);
  border: 1px solid black;
    
}
.firstContainer{
  background-color: rgba(211, 191, 191, 0.178);
  padding: 5%;
}
.inputdiv{
  padding-left: 10%;
}
.buttondiv{
  width: 80%;
  padding-left: 20%;
  padding-top: 3%;
}
.c{
  color: red;
}
.operators{
  color: blue;
}
.equal{
  width: 100%;
}
